nav ul a,
nav .brand-logo 
{
  color: #ffffff;
}

p
{
  line-height: 2rem;
}
.sidenav-trigger 
{
  color: #263238;
}
.parallax-container 
{
  min-height: 300px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section 
{
    width: 100%;
  }
@media only screen and (max-width : 992px) 
{
  .parallax-container .section {
    position: absolute;
    top: 70%;
  }
  #index-banner .section
    {
    top: 10%;
  }
}
@media only screen and (max-width : 500px) {
  #index-banner .section 
    {
    top: 0;
  }
}
footer.page-footer 
{
  margin: 0;
}

 html, body {
    height: 100%;
  }

     body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

body {
	background:#f2f2f2;
}
 
.main {
	width:90%;
	max-width:1000px;
	margin:20px auto;
}
 
.slides {
	width:100%;
}
 
.slides img {
	width:100%;
}
 
.slidesjs-pagination {
	background:#424242;
	list-style:none;
	overflow:hidden;
}
 
.slidesjs-pagination li {
	float:left;
}
 
.slidesjs-pagination li a {
	display:block;
	padding:10px 20px;
	color:#fff;
	text-decoration:none;
}
 
.slidesjs-pagination li a:hover {
	background:#000;
}
 
.slides .active {
	background:#000;
}
 
.slidesjs-navigation{
	background:#000;
	color:#fff;
	text-decoration:none;
	display:inline-block;
	padding:13.5px 20px;
	float:right;
}

